/* The Modal (background) */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
    
  .modal:hover {
    cursor: default;
  }

/* Decorative line on top of modal window */
  .line {
    width: 100%;
    height: 9px;
    background-color: #9B85F7;
  }

/* EventDetails label element */
.underlinedLabel--line {
  width: 200px;
  height: 5px;
  background-color: #9B85F7;
}

.underlinedLabel--title {
  margin-bottom: 9px;
  font-size: 18px;
}

.underlinedLabel--value {
  margin-top: 9px;
  font-size: 16px;
  font-weight: 400;
}

/* Close button */
.close-container {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 15px 15px 0 0;
}

.close:focus,
.close:hover {
  text-decoration: none;
  cursor: pointer;
}

.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 50px;
  align-items: center;
  padding-right: 40px;
  padding-bottom: 20px;
}

  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 900px;
  }
  
  .modal-content:hover {
    cursor: default;
  }

 .eventDetails-reserveBtn {
    background-color: #fdc693;
    color: var(--textGray);
    border-radius: 9px;
    padding: 15px 45px ;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    border: none;
    color: #393939;
 }

 .eventDetails-reserveBtn:hover {
  cursor: pointer;
  background-color: var(--secondaryOrangeHovered);
}

.eventDetails-reserveBtn:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}


  /* Layout related containers */
  .eventDetails--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 40px 40px;
  }

.eventDetails--title {
  font-family: Ubuntu;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.detailsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 50px;
  column-gap: 50px;
}

.eventDetailsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  /* Main image */
.eventDetailsImg {
  object-fit: cover;
  border-radius: 16px;
  width: 300px;
  height: 300px;
}
