.loginArea {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 120px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEDAF4;
}

.navbar-logo {
    width: 200px;
    margin-right: -50px;
}

 .navbar_links {
    margin-left: -80px;
    list-style-type: none;
    display: flex;
    font-size: 25px;
    font-weight: 500;
    z-index: 1000;
  }
  .navbar_links ul li {
    margin-right: unset;
    margin-top: 22px;
  }
.navbar-button_login {
    margin-right: 10px;
    background: #9582E3;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.hamburgerMenu {
    color: rgb(79, 79, 79);
    display: none;
    font-size: 25px;
    margin-right: 15px;
}

.hamburgerMenu:hover {
    cursor: pointer;
}
.navbar-button_login:hover {
    cursor: pointer;
    background-color: var(--buttonPurpleHover);
}

.navbar-button_login:active {
    transform: scale(.95);
}


