.resetPage--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

.resetForm--container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 700px;
    border-radius: 25px;

}

.resetForm {
    width: 600px;
    height: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.resetForm--content {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnResetPassword {
    margin-top: 30px;
    height: 70px;
    width: 97%;
    font-weight: 600;
    background-color: #9582E3;
    border-radius: 9px;
    padding: 15px 45px ;
    font-family: 'Ubuntu';
    font-weight: 700;
    border: none;
    color: white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    font-size: 25px;
}

.btnResetPassword:hover {
    cursor: pointer;
    background-color: #7b62e1;

}

.btnResetPassword:active {
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
  }

  .resetPage--helperText {
    margin-top: -10px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    color: #6D6D6D;
  }

  .resetForm--heading {
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 35px;
    color: white;
    width: 100%;
    height: 150px;
    background-color: #9582E3;
  }