.dayslider-container {
  margin: 168px 150px 0 120px;
  width: 85%;
  height: 700px;
}

.header {
  text-align: left;
  font-size: 28px;
  font-family: Ubuntu;
  height: 100px;
  background-color: #9582e3;
  color: #ffffff;
  border-bottom: 7px solid #ffb978;
}

.header h1 {
  padding: 15px 0 0 25px;
}

.dayslider-content {
  margin-top: 10px;
  background-color: #f3f3f3;
  padding-top: 100px;
  height: 350px;
}

.day-btn {
  color: #2e2e2e;
  background-color: #ffb978;
  border-radius: 6px;
  width: 200px;
  height: 49px;
  border: none;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: bold;
  margin: 40px 0 0 1000px;
  cursor: pointer;
}

.days-slider {
  margin-left: 30px;
}

.days-slider h3 {
  width: 210px;
  height: 150px;
  background-color: #2e2e2e;
  margin-left: 40px;
  margin-top: -30px;
  padding: 60px;
  text-align: center;
  color: #f3f3f3;
}
.day-btn:hover {
  box-shadow: 5px 5px 4px gray;
  transition: 0.3s;
}
