.container--selectedEvent {
    display: flex;
    align-items: center;
}

.cardImage--makeReservation {
    height: 130px;
    width: 220px;
    border-radius: 7px;
    margin: 20px;
    margin-bottom: 0px;
  }

  .cardContent--makeReservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 315px;
    height: 100%;
  }

  .cardContent--title{
    margin: 0;
    margin-top: 15px;
  }

  .cardContent--dateHappening{
    margin: 0;
    margin-top: 10px;
    font-weight: 300;
  }

