:root {
  --primaryPurple: #9B85F7;
  --secondaryOrange: #FFC58F;
  --secondaryOrangeHovered: #ffa95a;
  --textGray: #393939;
  --fadedPurple: #dfd7ff;
  --buttonPurpleHover: #9B85F7;
}

body {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  height: 100vh;
}

.custom-modal {
  z-index: 1000;
}

.button {
  background-color: #9B85F7;
  color: white;
  font-size: 20px;
  font-family: Ubuntu;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background-color: #785edc;
  cursor: pointer;
}

input.rmdp-input + svg {
  color: #785edc;
  margin-right: 5px;
}

