.container--events {
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 91vh;
}

.event-list {
    max-width: 830px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.event-page_content {
    border: 1px solid #e4e5e7;
    padding: 20px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    height: fit-content;
}

.layout-border {
    border-radius: 4px;
    background-color: #f3f2fc;
    padding: 20px;
}

.events--noDataText {
    font-weight: 300;
    width: 100%;
    text-align: center;
    align-self: center;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }

  .events--loadingSpinner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }