.createEventForm {
<<<<<<< Updated upstream
    width: 400px;
=======
    padding: 35px 0 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    width: 700px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 21px;
>>>>>>> Stashed changes
}